.git
.idea
.vscode
node_modules/
vendor/
public/build/
public/hot
tests/
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.env
.env.testing
docker-compose.yml
phpunit.xml
phpunit.xml.dist
README.md
