################################################################################
#                                                                              #
#                                    COMMON                                    #
#                                                                              #
################################################################################

# Application
APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=
ASSET_URL=

# Localization
APP_LOCALE=
APP_FALLBACK_LOCALE=
APP_FAKER_LOCALE=

# PHP
PHP_CLI_SERVER_WORKERS=
BCRYPT_ROUNDS=

# Maintenance
APP_MAINTENANCE_DRIVER=
# APP_MAINTENANCE_STORE=

# CORS
CORS_ALLOWED_ORIGINS=
EMAIL_ALLOWED_ORIGINS=

# Logging
LOG_CHANNEL=
LOG_STACK=
LOG_DEPRECATIONS_CHANNEL=
LOG_LEVEL=

# Database
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Session
SESSION_DRIVER=
SESSION_LIFETIME=
SESSION_ENCRYPT=
SESSION_PATH=
SESSION_DOMAIN=

# Cache
CACHE_STORE=
# CACHE_PREFIX=

# Queue
QUEUE_CONNECTION=

# Filesystem
FILESYSTEM_DISK=

# Memcached
MEMCACHED_HOST=

# Redis
REDIS_CLIENT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

# Mail Configuration
MAIL_MAILER=
MAIL_SCHEME=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# AWS (unused)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=

# Vite
VITE_APP_NAME=


################################################################################
#                                                                              #
#                                  BACKSTAGE                                   #
#                                                                              #
################################################################################

# Broadcasting
BROADCAST_CONNECTION=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Reverb WebSockets
REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=
REVERB_SERVER_PORT=
REVERB_PORT=
REVERB_SCHEME=

VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=
VITE_REVERB_PORT=
VITE_REVERB_SCHEME=


################################################################################
#                                                                              #
#                                    STORE                                     #
#                                                                              #
################################################################################

# Social Media Links
LINKTREE_URL=
INSTAGRAM_URL=
FACEBOOK_URL=
WEBSITE_URL=
TIKTOK_URL=

# Branding
COPYRIGHT=