# Laravel & Node.js .gitignore
/vendor/
/node_modules/
.env
/public/build/
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/logs
.phpunit.result.cache
npm-debug.log
yarn-error.log
.DS_Store
/.phpunit.cache
/.idea
/.vscode
/.fleet
/.nova
/.zed
Homestead.json
Homestead.yaml
/auth.json
/.env.backup
/.env.production
/.phpactor.json
/public/hot
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
